* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
}

.header {
    background-color: #1f2937;
    padding: 0 80px;
}

.branding {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    height: calc(100vh - 100px);
}

.hero-left {
    width: 40%;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px 0;
}

.hero-left button {
    background-color: #3882f6;;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
}

.hero-pic {
    max-width: 500px;
    height: auto;
}

.latest-music {
    display: flex;
    padding: 50px;
    flex-direction: column;
    /*border-bottom: 1px solid red;*/
}

.title {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px;
}

.card-container {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.card {
    max-width: 255px;
    display: flex;
    flex-direction: column;
    flex: 1;

    /*align-items: center;
    justify-content: center;*/
}

.music-pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 255px;
    height: 255px;
    object-fit: cover;
    object-position: center;
    /*border-radius: 2%;*/
}

.button-music {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
}

.button-music button {
    font-size: 10px;
    text-transform: uppercase;
    flex-basis: 125px;
    background-color: #3882f6;;
    color: #fff;
    padding: 8px 25px;
    /*border-radius: 2px;*/
    border: none;
}

.card h4 {
    text-align: center;
    padding: 10px 0;
}

.card p {
    text-align: justify;
    text-justify: inter-word;
    font-size: 12px;
}

.kitanna-bio {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: #e5e7eb;
    margin: 10px 0;

    /*margin-top: 10px;
    border-top: 1px solid red;
    border-bottom: 1px solid red;*/
}

.bio-picture {
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.bio-info {
    width: 40%;
}

.bio-info p {
    text-align: justify;
    text-justify: inter-word;
    padding-top: 20px;
    color: #1f2937;
    font-weight: lighter;
    line-height: 20px;
}

.bio-info p span {
    font-style: italic;
}

.newsletter {
    display: flex;
    padding: 50px 0;
}

.newsletter-card {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 50px 120px;
    background-color: #3882f6;
    color: #fff;
    border-radius: 5px;
    margin: 0 auto;
}

.newsletter-left h4 {
    padding-bottom: 5px;
}

.newsletter-right button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 8px 25px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #fff;
    height: 80px;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.footer a {
    color: #fff;
    text-decoration: none;
}