* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lucida Console", "Courier New", monospace;
}

.header {
    background-color: #1f2937;
    padding: 0 80px;
}

.branding {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.hero-left {
    width: 40%;
}

.hero-left h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-left p {
    font-size: 18px;
    color: #e5e7eb;
    padding: 20px 0;
}

.hero-left button {
    background-color: #3882f6;;
    color: #fff;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
}

.hero-pic {
    max-width: 500px;
    height: auto;
}

.latest-music {
    display: flex;
    padding: 50px;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: center;
    margin: 10px 0 40px;
}

.card-container {
    display: flex;
}

.card img {
    width:50px;
    height: auto;
}
